<div class="container">
    <nav>
            <ul class="mcd-menu">
                <li>
                    <a  routerLink="/home" >
                        <i class="fa fa-home"></i>
                        <strong>Home</strong>
                        
                    </a>
                </li>
                <li>
                    <a routerLink="/viewcc" >
                        <i class="fa fa-edit"></i>
                        <strong>view credit card applications</strong>
                        <small>view</small>
                    </a>
                </li>
                <li>
                    <a routerLink="/cbi">
                        <i class="fa fa-gift"></i>
                        <strong>Generate cibil report</strong>
                        <small></small>
                    </a>
                </li>
                <li>
                    <a routerLink="/approve">
                        <i class="fa fa-globe"></i>
                        <strong>Approve or Reject Application</strong>
                        <small></small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-comments-o"></i>
                        <strong>Search Credit Card </strong>
                        <small>action</small>
                    </a>
                    <ul>
                        <li><a routerLink="/CCdetails"><i class="fa fa-globe"></i>Credit Card Details</a></li>
                        <li>
                            <a href="#"><i class="fa fa-group"></i>Operations</a>
                            <ul>
                                <li><a href="#"><i class="fa fa-female"></i>Change Limit</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-male"></i>Block Credit Card</a>
                                    
                                </li>
                                <li><a href="#"><i class="fa fa-female"></i>Block Transaction</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </li>
              
            </ul>
        </nav>
    </div>