<h1 class="main-title">Check the best credit card for you</h1>

<div class="container">
   <h4 class="title">ELITE American Express Card</h4>
   <div class="content">
     <a a routerLink="/applycreditcard">
       <div class="content-overlay"></div>
       <img class="content-image" src="https://i.pinimg.com/originals/e2/76/36/e276363b27595de7140617a95844188e.jpg">
       <div class="content-details fadeIn-bottom fadeIn-right">
         <h3 class="content-title">BENEFITS</h3>
         <p align="justify">Get an Amazon e-gift voucher worth Rs. 2000 on total spend of Rs.10,000 in 60 days from card issuance
            <br><br>Welcome e-gift voucher worth ₹ 5,000 from any of the following brands: Yatra, Hush Puppies/Bata, Pantaloons, Aditya Birla Fashion and Shoppers Stop.
            <br><br>This card is available in select cities.</p>
       </div>
     </a>
   </div>
 </div>

<div class="container">
  <h4 class="title">PRIME American Express Card</h4>
  <div class="content">
    <a a routerLink="/applycreditcard">
      <div class="content-overlay"></div>
      <img class="content-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnpnNAVLuPHFfE9p2WeEJnNMblDYcmg5c_awT3H99qxbBhJyEtyj6b18fzNEal8jJAcPU&usqp=CAU">
      <div class="content-details fadeIn-bottom">
        <h3 class="content-title">BENEFITS</h3>
        <p class="content-text">Get an Amazon e-gift voucher worth Rs. 1000 on total spend of Rs.10,000 in 60 days from card issuance
         <br>Welcome e-gift voucher worth ₹ 3,000 from any of the following brands: Bata/Hush Puppies, Pantaloons, Aditya Birla Fashion, Shoppers Stop and Yatra.com
         <br>This card is available in select cities.</p>
      </div>
    </a>
  </div>
</div>



<div class="container">
  <h4 class="title">IRCTC Platinum Card</h4>
  <div class="content">
    <a a routerLink="/applycreditcard">
      <div class="content-overlay"></div>
      <img class="content-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGT-xjUt_FPQWgt23-FQt9nRdPKCD9DxxP3w&usqp=CAU">
      <div class="content-details fadeIn-left">
         <h3 class="content-title">BENEFITS</h3>
        <p>Book free* railway tickets using Reward Points.<br>
         Enjoy zero payment gateway charge* with 1.8% transaction charge waiver.
         </p>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <h3 class="title">Air India Signature Card</h3>
  <div class="content">
    <a a routerLink="/applycreditcard">
      <div class="content-overlay"></div>
      <img class="content-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMjNjawE90gBwk0uY-DKVBRQT1oZmlCZlJ8ZQnAVYZAimLWbA9QLng1T36xb9W-EyP3E0&usqp=CAU">
      <div class="content-details fadeIn-right">
         <h3 class="content-title">BENEFITS</h3>
        <p>Avail a Welcome gift of 20,000 Rewards Points*.<br>
         Get Upto 30 Reward Points for every Rs. 100 spent on Air India tickets.</p>
      </div>
    </a>
  </div>
</div>


